<div class="container-fluid top-fluid">
  <div class="row text-center">
    <div class="col-md-5">
      <h1 class="title"><a class="nav-link" href="/">PIXIT</a></h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 nav-text">
      <h3 class="hvr-icon-grow"><a class="nav-link  indi-link hvr-icon" href="/leaderboard">Leaderboard</a></h3>
    </div>
    <div class="col-md-1 nav-text">
      <h3 class="hvr-icon-grow"><a class="nav-link indi-link hvr-icon" href="/about">About</a></h3>
    </div>
    <div class="col-md-1 nav-text">
      <h3 class="hvr-icon-grow"><a class="nav-link indi-link hvr-icon" href="/login">Login</a></h3>
    </div>
    <div class="col-md-1 nav-text">
      <h3 class="hvr-icon-grow"><a class="nav-link indi-link hvr-icon" href="/register">Register</a></h3>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="LogIn">Log In</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="gridWrapper" action="/GET">
          <label class="labelClass">Enter Your Email:</label class="labelClass">
          <input class="inputBox" type="email" placeholder="email@usc.edu">
          <label class="labelClass">Enter Your password:</label>
          <input class="inputBox" type="password" placeholder="******">
        </form>
        <button class="outForm" type="submit">Sign In</button>
      </div>
    </div>
  </div>
</div>